# Ignore everything by default
*

# Allow necessary files to be published
!dist/
!package.json
!README.md
!LICENSE

# Explicitly ignore development files (even if they were in the allow list)
src/
docs/
*.ts
*.map
tsconfig.json
.git/
.github/
node_modules/